<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >-->
<!--<mapper namespace="com.changgou.dao.BrandMapper" >-->

<!--&lt;!&ndash;    <select id="">&ndash;&gt;-->
<!--&lt;!&ndash;        <if test="startTime != null">&ndash;&gt;-->
<!--&lt;!&ndash;            and create_time >= #{startTime}&ndash;&gt;-->
<!--&lt;!&ndash;        </if>&ndash;&gt;-->
<!--&lt;!&ndash;        <if test="endTime != null">&ndash;&gt;-->
<!--&lt;!&ndash;            and create_time &lt;= #{endTime}&ndash;&gt;-->
<!--&lt;!&ndash;        </if>&ndash;&gt;-->
<!--&lt;!&ndash;    </select>&ndash;&gt;-->

<!--</mapper>-->